@import './base.css';



#app {
  width: 100%;
  font-weight: normal;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-self: center;
  border-bottom: 1px solid hsla(160, 100%, 37%, 1);;
}

.red {
  text-decoration: none;
  color: red;
  transition: 0.4s;
  padding: 3px;
}

span {
  color: hsla(160, 100%, 37%, 1);;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

